In [22]:
import pandas as pd #load data into table formats(data frames)
datafile='BX-CSV-Dump\\BX-Book-Ratings.csv'
data= pd.read_csv(datafile,sep=";",encoding = "ISO-8859-1",header=0,names=["user","isbn","rating"])

In [23]:
data.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [28]:
bookfile='BX-CSV-Dump\\BX-Books.csv'
#error_bad_lines : ignores any rows that have error: in this case rows with more columns than expected
#index_col : col names should be taken from row 0 isbn col
books = pd.read_csv(bookfile,encoding = "ISO-8859-1",sep=";",header=0,error_bad_lines=False,usecols=[0,1,2],index_col=0,names=["isbn","title","author"])

In [30]:
books.head()

,title,author
isbn,,
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
0393045218,The Mummies of Urumchi,E. J. W. Barber

# Func to get title and author for a given isbn

In [31]:
def bookMeta(isbn):
    title=books.at[isbn,"title"]
    author=books.at[isbn,"author"]
    return title, author

In [32]:
bookMeta("0060973129")

('Decision in Normandy', "Carlo D'Este")

# Func to get favorite books of a user

In [33]:
def favBooks(user, N):
    #get all data related to current user
    userRatings=data[data["user"]==user]
    #sort the current users ratings in descending order and pick top N rated books
    sortedRatings = pd.DataFrame.sort_values(userRatings,['rating'], ascending=0)[:N]
    #add the title column to the N sorted highly rated books
    sortedRatings["title"]=sortedRatings["isbn"].apply(bookMeta)
    return sortedRatings

In [36]:
favBooks(276729, 10)

,user,isbn,rating,title
4,276729,0521795028,6,(The Amsterdam Connection : Level 4 (Cambridge...
3,276729,052165615X,3,"(Help!: Level 1, Philip Prowse)"

In [37]:
#Some isbns may be in the rating dataframe but not in the book metadata, so reduce data to only isbns also present in books metadata dataframe
data = data[data["isbn"].isin(books.index)]

In [38]:
favBooks(204622, 10)

,user,isbn,rating,title
844955,204622,0967560500,10,"(Natural Hormonal Enhancement, Rob Faigin)"
844935,204622,0671027360,10,"(Angels &amp; Demons, Dan Brown)"
844926,204622,0385504209,10,"(The Da Vinci Code, Dan Brown)"
844958,204622,097173660X,9,"(Life After School Explained, Cap &amp; Compass)"
844920,204622,0060935464,9,"(To Kill a Mockingbird, Harper Lee)"
844966,204622,1878424114,9,(The Seven Spiritual Laws of Success: A Practi...
844937,204622,0671666258,8,"(American Star, Jackie Collins)"
844945,204622,0786868716,7,"(The Five People You Meet in Heaven, Mitch Albom)"
844941,204622,0744001943,7,(Grand Theft Auto: Vice City Official Strategy...
844934,204622,0553096060,6,"(Sein Language, JERRY SEINFELD)"

# Creating a rating matrix

In [39]:
data.shape

(1031175, 3)

In [40]:
usersPerISBN =data.isbn.value_counts()
usersPerISBN.head(10)

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
044023722X     647
0142001740     615
067976402X     614
0671027360     586
0446672211     585
Name: isbn, dtype: int64

In [41]:
#number of distinct ISBNs
usersPerISBN.shape

(270170,)

In [42]:
ISBMsPerUSer=data.user.value_counts()
ISBMsPerUSer.head(10)

11676     11144
198711     6456
153662     5814
98391      5779
35859      5646
212898     4290
278418     3996
76352      3329
110973     2971
235105     2943
Name: user, dtype: int64

In [43]:
#number of distinct users
ISBMsPerUSer.shape

(92107,)

In [44]:
#Rating matrix with all this data will be very sparse so we reduce this by only considering books that have been read by more than 10 users
data=data[data["isbn"].isin(usersPerISBN[usersPerISBN>10].index)]

In [46]:
#Rating matrix with all this data will be very sparse so we reduce this by only considering users that have read more than 10 books
data=data[data["user"].isin(ISBMsPerUSer[ISBMsPerUSer>10].index)]

In [47]:
data.shape

(405709, 3)

## convert the data frame into rating table using pandas pivot

In [53]:
userItemRatingMatrix=pd.pivot_table(data, values='rating',
                                    index=['user'], columns=['isbn'])

MemoryError:

In [49]:
userItemRatingMatrix.head()

NameError: name 'userItemRatingMatrix' is not defined

# Compute distance between a pair of users

In [54]:
u1=204622
u2=255489

In [55]:
user1Ratings=userItemRatingMatrix.transpose()[u1]

NameError: name 'userItemRatingMatrix' is not defined

In [56]:
user2Ratings=userItemRatingMatrix.transpose()[u2]

NameError: name 'userItemRatingMatrix' is not defined